@charset "UTF-8";
/*
Theme Name: wakuwaku-corp.com
Theme URI: http://wakuwaku-corp.com
Description: wakuwaku-corp.com
Author: xxxx@gmail.com
Author URI:　http://wakuwaku-corp.com
Version:1.0
*/

body {
	padding: 5px 40px 0;
	color: #555;
}
a:link		{ color: #0000CC; }
a:visited	{ color: #0033CC; }
a:hover		{ color: #990000; }
a:active	{ color: #990000; }

/* page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#page {
}

/* header
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#header {
	clear: both;
	padding: 15px 0 15px;
	text-align: center;
}

/* contents
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#contents {
	clear: both;
	border: solid 1px #ccc;
	background: #f7f7f7;
}
/* navigation
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#navigation {
	float: right;
	width: 299px;
}
#navigation .inner {
	padding: 30px 10px;
}
#searchform #s {
	width: 90%;
}

#navigation  .cat-item {
	margin-left: 15px;
}
#navigation  .widget_area li {
	margin-bottom: 4px;
}


/* main_content
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#main_content {
	margin-right: 300px;
	background: #fff;
	min-height: 800px;
}
#main_content .inner {
	padding: 30px;
	min-height: 700px;
}
/* footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#footer {
	clear: both;
	padding: 10px 0 8px;
	text-align: center;
}
.page_navigation {
	clear: both;
	width: 960px;
	margin: 0 auto;
	text-align: right;
}
body.archive section.item_summary h2 {
	line-height: 1.5;
	font-size: 147%;
	margin-bottom: 30px;
	padding: 10px 15px 7px 15px;
	border-bottom: solid 3px #d9d9d9;
	background: #fffbe9;
}
body.single article.item_detail h1 {
	line-height: 1.4;
	font-size: 147%;
	padding: 30px 0 30px;
	border-bottom: solid 2px #eee;
}
body.single article.item_detail .item_header {
	margin-bottom: 30px;
}
body.single article.item_detail .item_date {
	display: block;
	padding: 3px 0;
	text-align: right;
	font-size: 85%;
}
body.single article.item_detail .item_content {
	font-size: 108%;
}
body.single article.item_detail .item_content p {
	line-height: 1.5;
	margin-bottom: 1.5em;
}

body.home .item_list li h2 {
	line-height: 1.3;
	font-size: 147%;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: dashed 1px #ccc;
}
#main_content .section_summary h3 {
	line-height: 1.2;
	font-size: 131%;
	margin-bottom: 3px;
	padding:6px 15px 3px 15px;
	border-bottom: solid 3px #f3f3f3;
	background: #fffbe9;
}



#main_content article.item_detail {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: dashed 2px #ccc;
}
#main_content article.item_detail ul {
    list-style:none;
	margin-bottom: 1.5em;
}
#main_content article.item_detail ul li {
	margin-bottom: 0.5em;
	padding-left: 1.5em;
	line-height: 1.3;
	background: transparent url(asset/parts.png) no-repeat scroll 0px 0px; 
}



#main_content h3 {
	margin-bottom: 10px;
	line-height: 1.5;
	font-size: 116%;
	font-weight: bold;
}
#main_content code,
#main_content pre {
	display: block;
	line-height: 1.5;
	margin-bottom: 1.7em;
	padding: 0.3em 0.7em;
	border: solid 1px #f2f0e8;
	background: #fbf9ef;
	color: #000;
	font-family: "Courier New", monospace;
	font-size: 93%;
	word-break: break-all; /* ie */
	word-wrap: break-word;
}
/*
#main_content p {
	line-height: 1.5;
	margin-bottom: 15px;
}
*/
#navigation li {
	margin-bottom: 30px;
}
#navigation #searchform label,
#navigation #searchform input {
	display: block;
}
#navigation li.last {
	margin-bottom: 0;
}
.icon_gotop {
	background: #CCE589 url(asset/icon_gotop.png) no-repeat scroll 10px center;
	line-height:24px;
	padding:6px 15px 3px 30px;
}
ul li.icon_arrow {
	background-image: url(asset/icon_arrow.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	padding-left: 23px;
}
ul li.icon_arrow_2 {
	background-image: url(asset/icon_arrow_2.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	text-indent: 23px;
}
.table_01 {
	clear: both;
	margin-bottom: 30px;
}
.table_01 table {
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: show;
	width: 100%;
	border-top: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
}
.table_01 th {
	width: 20%;
	padding: 10px 16px;
	border-right: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	background-color: #f3f3ff;
}
.table_01 td {
	padding: 10px 16px;
	border-right: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	line-height: 1.5;
	background-color: #fff;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
480px以下 for スマートフォン
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 480px) {
body {
	padding: 2px 2px 0;
}
#navigation {
	display: none;
	float: none;
	width: 100%;
	background: #d9d9d9;
}
#main_content {
	float: none;
	width: 100%;
}
#main_content .inner {
	padding: 5px;
	border: solid 1px #d9d9d9;
	background: #fff;
}
} /* end 0 - 480 */


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
480pxより上768px以下  for タブレット ポートレート
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (min-width: 481px) and (max-width: 980px) {
body {
	padding: 5px 10px 0;
}
#navigation {
	display: none;
	float: none;
	width: 100%;
	background: #d9d9d9;
}
#main_content {
	float: none;
	width: 100%;
}
#main_content .inner {
	padding: 10px;
	border: solid 1px #d9d9d9;
	background: #fff;
}
} /* end 481 - 768 for tablet */
