@charset "utf-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Title: 
	Description: 
	Version: 1.0.0 2013/12/28 www.7-2.jp

	Contents
		Elements
			h1-h6, p, strong, ul, ol, dl, table, pre
			table.no_border
			ul.no_style, ol.no_style
		Base
			.separator_x
			.white_space_x
			.indent_space_x
			.bg_base
			.weak, .weak_size
			.appeal, .appeal_size
			.emergency
			.highlighter
			.code_inline
			.notes
			.compact
		Head
	囲み
		.message
		.appeal
		.information
		.attention
	Other
		.button_x
		.item_news
		.item_list
		.item_meta
		.item_pagination
		.item_faq
		.pic_left
		.pic_right
	Section
		.section_normal
		.section_half
		.section_tri
		.section_quart
		.section_thumb
		.section_1to4
		.section_1to3
		.section_1to2
		.section_2to3
		.section_3to2
		.section_2to1
		.section_3to1
		.section_4to1
	Table
		.table0x
		.table_portlate
		.table_form
	:last-child
	@media only screen and (max-width: 768px)
	@media only screen and (max-width: 360px)
	@media only screen and (min-width: 361px) and (max-width: 768px)

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   Contents
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */


/* Elements
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#docs h1 {
	font-size: 185%;
	margin-bottom: 1em;
}
#docs h2 {
	font-size: 160%;
	margin-bottom: 1em;
}
#docs h3 {
	margin-bottom: 1em;
	font-size: 120%;
}
#docs h4 {
	margin-bottom: 1em;
	font-size: 108%;
}
#docs h5 {
	margin-bottom: 1em;
}
#docs h6 {
	margin-bottom: 1em;
}
#docs p {
	margin-bottom: 1.7em;
	line-height: 1.7;
}
#docs th p,
#docs td p {
	margin-bottom: 7px;
	line-height: 1.7;
}
#docs strong {
	font-weight: bold;
}
#docs ul {
	list-style: disc;
	margin-bottom: 1.7em;
	padding-left: 1.5em;
}
#docs ol {
	list-style: decimal;
	margin-bottom: 1.7em;
	padding-left: 1.5em;
}
#docs dl {
	margin-bottom: 1.7em;
}
#docs dl dt,
#docs dl dd,
#docs ul li,
#docs ol li {
	margin-bottom: 1em;
	line-height: 1.5;
}
#docs th dl dt,
#docs th dl dd,
#docs th ul li,
#docs th ol li,
#docs td dl dt,
#docs td dl dd,
#docs td ul li,
#docs td ol li {
	margin-bottom: 7px;
}
#docs table {
	width: 100%;
	margin-bottom: 1.7em;
	border-top: solid 1px #cccabb;
	border-left: solid 1px #cccabb;
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: show;
}
.ie6 #docs table {
	width: inherit; /* ie6 not 100% */
}
#docs th,
#docs td {
	padding: 4px 8px;
	border-right: solid 1px #cccabb;
	border-bottom: solid 1px #cccabb;
	line-height: 1.5;
}
#docs th {
	font-size: 93%;
	background: transparent url(transparent_black10.png) repeat scroll left top;
}
#docs td {
	background: transparent;
}
#docs pre {
	display: block;
	line-height: 1.5;
	margin-bottom: 1.7em;
	padding: 0.3em 0.7em;
	border: solid 1px #d9d9d9;
	background: transparent url(transparent_black10.png) repeat scroll left top;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 85%;
	word-break: break-all; /* ie */
	word-wrap: break-word;
}

/*  */
#docs table.no_border {
	border: none;
}
#docs table.no_border th,
#docs table.no_border td {
	border: none;
}

#docs ul.no_style,
#docs ol.no_style {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Base
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#page #docs .separator_small {
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: dashed 1px #ddd;
}
#page #docs .separator_middle {
	clear: both;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: dashed 1px #ccc;
}
#page #docs .separator_long {
	clear: both;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: dashed 3px #999;
}
#page #docs .white_space_small {
	margin-bottom: 20px;
}
#page #docs .white_space_middle {
	margin-bottom: 40px;
}
#page #docs .white_space_large {
	margin-bottom: 80px;
}
#page #docs .indent_space_small {
	margin: 0 20px 20px 20px;
}
#page #docs .indent_space_middle {
	margin: 0 40px 40px 40px;
}
#page #docs .indent_space_large {
	margin: 0 80px 80px 80px;
}

#docs .bg_base.item {
	background: transparent url(transparent_beige10.png) repeat scroll left top !important; /* Background */
}
#docs .bg_base_wrap .item {
	background: transparent url(transparent_beige10.png) repeat scroll left top !important; /* Background */
}

#page #docs span.weak {
	color: #666;
}
#page #docs span.weak_size {
	font-size: 85%;
}
#page #docs span.appeal {
	color: #f00;
}
#page #docs span.appeal_size {
	font-size: 150%;
}
#page #docs span.emergency {
	padding: 2px 3px;
	background: #f00;
	color: #fff;
}
#page #docs span.highlighter {
	padding: 2px 3px;
	background: #f2ff5d;
}
#page #docs .code_inline {
	font-family: 'Source Code Pro', sans-serif;
	background: #ccc;
	padding: 1px 3px;
	font-size: 85%;
}

/* .notes
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .notes dl {
	clear: both;
}
#docs .notes dl dt {
	display: block;
	clear: both;
	float: left;
	width: 20%;
}
#docs .notes dl dd {
	display: block;
	margin-left: 20%;
	text-indent: 0;
}
#docs .notes dl dt.last,
#docs .notes dl dd.last {
	margin-bottom: 0;
}
#docs .notes dl.dt_w02em dt { width: 2em; }
#docs .notes dl.dt_w02em dd { margin-left: 2em; }

#docs .notes dl.dt_w03em dt { width: 3em; }
#docs .notes dl.dt_w03em dd { margin-left: 3em; }

#docs .notes dl.dt_w04em dt { width: 4em; }
#docs .notes dl.dt_w04em dd { margin-left: 4em; }

#docs .notes dl + h1,
#docs .notes dl + h2,
#docs .notes dl + h3,
#docs .notes dl + h4,
#docs .notes dl + h5,
#docs .notes dl + h6 {
	clear: both;
}

/* .compact
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .compact {
	font-size: 85%;
	font-family: Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif
}
#docs .compact table,
#docs .compact ul,
#docs .compact ol,
#docs .compact dl,
#docs .compact p {
	margin-bottom: 1em;
	line-height: 1.5;
}


/* Head
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .head_a {
	padding: 0.3em 0.3em 0.1em;
	background: #888;
	color: #fff;
	line-height: 1.3;
}
#docs .head_b {
	padding: 0.3em 0.3em 0.1em;
	background: #ccc;
	line-height: 1.3;
}
#docs .head_c {
	border-bottom: solid 2px #888;
	padding-bottom: 0.3em;
	padding-left: 0.1em;
	line-height: 1.3;
}
#docs .head_d {
	padding: 0.1em 0 0.05em 0.5em;
	border-left: solid 4px #888;
	line-height: 1.3;
	font-weight: bold;
}
#docs .head_e {
	font-weight: bold;
}
#docs .head_f {
	font-weight: bold;
	line-height: 1.3;
}
#docs .head_f .appeal {
	font-size: 120%;
	font-weight: bold;
	color: #990000;
	padding-right: 10px;
}
#docs .head_g {
	color: #0c6ce3;
}
#docs .head_pre {
	font-size: 93%;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   囲み
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* 共通 */
#docs div.attention02,
#docs div.attention01,
#docs div.attention,
#docs div.information02,
#docs div.information01,
#docs div.information,
#docs div.appeal02,
#docs div.appeal01,
#docs div.appeal,
#docs div.message02,
#docs div.message01,
#docs div.message {
	clear: both;
	margin-bottom: 30px;
	padding: 15px 20px;
}


/* .message
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs div.message {
	border:solid 3px #dbe8b9;
	background: #fff;
}
#docs div.message01 {
	background: #eff7d5;
}
#docs div.message02 {
	border:solid 3px #d2ddb0;
	background: #fcfff1;
}

/* .appeal
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs div.appeal {
	border:solid 3px #f9e3b9;
	background: #fff;
}
#docs div.appeal01 {
	background: #fbf0da;
}
#docs div.appeal02 {
	border:solid 3px #f7dca8;
	background: #fff9ee;
}

/* .information
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs div.information {
	border:solid 3px #cfe8ec;
	background: #fff;
}
#docs div.information01 {
	background: #e4f6f6;
}
#docs div.information02 {
	border:solid 3px #c1dfdf;
	background: #f6ffff;
}

/* .attention
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs div.attention {
	border:solid 3px #f7d5d7;
	background: #fff;
}
#docs div.attention01 {
	background: #faebec;
}
#docs div.attention02 {
	border:solid 3px #f6d0d2;
	background: #fff8f8;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   Other
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* .button
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .button_a {
	display: inline-block;
	background: transparent url(icon_arrow.png) no-repeat scroll 5px center;
}
#docs .button_a a:link,
#docs .button_a a:visited {
	display: inline-block;
	padding: 12px 10px 10px 35px;
	background: transparent url(transparent_black20.png) repeat scroll left top;
	color: #fff;
	text-decoration: none;
}
#docs .button_a a:hover,
#docs .button_a a:active {
	background: transparent url(transparent_black30.png) repeat scroll left top;
	text-decoration: none;
}

/* .item_news
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .item_news {
}
#docs .item_news ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#docs .item_news .unit {
	clear: both;
	padding-top: 1em;
	padding-bottom: 1em;
}
#docs .item_news .unit.unit_even {
	background: #f0f0f0;
}
#docs .item_news .label {
	width: 90px;
	float: left;
	margin-right: 10px;
}
#docs .item_news .label_date {
	margin-bottom: 4px;
}
#docs .item_news .label_time {
	margin-right: 10px;
}
#docs .item_news .label_media {
	background: #d1eff7;
	border: dotted 1px #64c1e1;
	margin-bottom: 3px;
	text-align: center;
	font-size: 77%;
}
#docs .item_news .label_event {
	background: #fad6a2;
	border: dotted 1px #ca8f87;
	margin-bottom: 3px;
	text-align: center;
	font-size: 77%;
}
#docs .item_news .label_recommend {
	background: #f0dbd8;
	border: dotted 1px #ca8f87;
	margin-bottom: 3px;
	text-align: center;
	font-size: 77%;
}
#docs .item_news .label_notice {
	background: #d1eff7;
	border: dotted 1px #64c1e1;
	margin-bottom: 3px;
	text-align: center;
	font-size: 77%;
}

/* .item_list
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .item_list {
	margin-bottom: 15px;
	padding: 15px;
	background: transparent url(transparent_black10.png) repeat scroll left top;
}
#docs .item_list h2 {
	font-size: 108%;
}
#docs .item_list p {
	margin: 5px 0;
}
#docs .item_list pre {
	margin: 5px 0;
}
#docs .item_list .read_more_wrap {
	margin-top: 20px;
	text-align: right;
}
#docs .item_list .read_more_wrap a {
	font-size: 85%;
	padding: 4px 15px;
	background: transparent url(transparent_black10.png) repeat scroll left top;
}

/* .item_meta
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .item_meta {
	background: transparent url(transparent_black10.png) repeat scroll left top;
	margin-bottom: 30px;
	padding: 0 5px;
}
#docs .item_meta .meta_date {
	display: block;
	text-align: right;
	font-size: 85%;
}

/* .item_pagination
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .item_pagination {
}

#docs .item_pagination ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
#docs .item_pagination li {
	margin-right:0.5em;
	float: left;
	border: solid 1px #ccc;
}
#docs .item_pagination li a {
	display: block;
	width: 2em;
	padding: 0.7em 0.5em;
	text-align: center;
}
#docs .item_pagination li .current_li {
	display: block;
	width: 2em;
	padding: 0.7em 0.5em;
	text-align: center;
	background: #bbb;
}
#docs .item_pagination li a:hover {
	background: #ccc;
}


/* .item_pagination_half
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .item_pagination_half {
}
#docs .item_pagination_half ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
#docs .item_pagination_half li {
	float: left;
	width: 50%;
}
#docs .item_pagination_half li.last {
	text-align: right;
}


/* .item_faq
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .item_faq {
	margin-bottom: 30px;
}
#docs .item_faq dl {
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
}
#docs .item_faq dt {
	margin: 0;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	border-top: dashed 2px #aaa;
}
#docs .item_faq dt:hover {
	background: #f0f0f0;
}
#docs .item_faq dd {
	margin: 0;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
#docs .item_faq dt span.faq_label {
	display: block;
	clear: both;
	float: left;
	width: 10%;
	font-size: 200%;
	color: #9f0a0d;
}
#docs .item_faq dd span.faq_label {
	display: block;
	clear: both;
	float: left;
	width: 10%;
	font-size: 200%;
	color: #0970f1;
}
#docs .item_faq dt span.faq_text,
#docs .item_faq dd span.faq_text {
	display: block;
	margin-left: 10%;
	padding-top: 1em;
	text-indent: 0;
}


/* .pic_left
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .pic_left {
	float: left;
	width: 30%;
	padding-right: 2em;
	padding-bottom: 1em; 
}
#docs .pic_left_small {
	float: left;
	width: 20%;
	padding-right: 2em;
	padding-bottom: 1em; 
}
#docs .pic_left_large {
	float: left;
	width: 40%;
	padding-right: 2em;
	padding-bottom: 1em; 
}
#docs .pic_left_x_large {
	float: left;
	width: 60%;
	padding-right: 2em;
	padding-bottom: 1em; 
}
#docs .pic_left_xx_large {
	float: left;
	width: 80%;
	padding-right: 2em;
	padding-bottom: 1em; 
}

/* .pic_right
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .pic_right {
	float: right;
	width: 30%;
	padding-left: 2em;
	padding-bottom: 1em; 
}
#docs .pic_right_small {
	float: right;
	width: 20%;
	padding-left: 2em;
	padding-bottom: 1em; 
}
#docs .pic_right_large {
	float: right;
	width: 40%;
	padding-left: 2em;
	padding-bottom: 1em; 
}
#docs .pic_right_x_large {
	float: right;
	width: 60%;
	padding-left: 2em;
	padding-bottom: 1em; 
}
#docs .pic_right_xx_large {
	float: right;
	width: 80%;
	padding-left: 2em;
	padding-bottom: 1em; 
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   Section
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#docs .section_inner ,
#docs .item .item_inner {
	padding: 3%;
}
#docs .item .item_inner_frame {
	padding: 3%;
	border: solid 3px #d0d0d0;
}

/* .section_normal
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_normal { /* parts */
	clear: both;
	margin-bottom: 30px;
}
#docs .section_normal .item {
	clear: both;
	width: 100%;
	margin-bottom: 30px;
}

/* .section_half
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_half {
	clear: both;
	margin-bottom: 30px;
}
#docs .section_half .item {
	display: inline; /* ie6 double margin */
	float: left;
	width: 48%;
	margin-right: 4%;
	margin-bottom: 30px;
}
#docs .section_half .item.item_odd {
	margin-right: 0;
}

/* .section_tri
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_tri {
	clear: both;	
	margin-bottom: 30px;
}
#docs .section_tri .item {
	display: inline; /* ie6 double margin */
	float: left;
	width: 31%;
	margin-right: 3%;
	margin-bottom: 30px;
}
#docs .section_tri .item.cycle03 {
	margin-right: 0;
}

/* .section_quart
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_quart {
	clear: both;
	margin-bottom: 30px;
}
#docs .section_quart .item {
	display: inline; /* ie6 double margin */
	float: left;
	width: 22%;
	margin-right: 4%;
	margin-bottom: 30px;
}
#docs .section_quart .item.cycle04 {
	margin-right: 0;
}

/* .section_5_equal_parts
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_5_equal_parts {
	clear: both;
	margin-bottom: 30px;
}
#docs .section_5_equal_parts .item {
	display: inline; /* ie6 double margin */
	float: left;
	width: 18%;
	margin-right: 2.3%;
	margin-bottom: 30px;
}
#docs .section_5_equal_parts .item.cycle05 {
	margin-right: 0;
}

/* .section_6_equal_parts
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_6_equal_parts {
	clear: both;
	margin-bottom: 30px;
}
#docs .section_6_equal_parts .item {
	display: inline; /* ie6 double margin */
	float: left;
	width: 15%;
	margin-right: 2%;
	margin-bottom: 30px;
}
#docs .section_6_equal_parts .item.cycle06 {
	margin-right: 0;
}

/* .section_thumb
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_thumb {
	clear: both;
	margin-bottom: 30px;
}
#docs .section_thumb .item {
	display: inline; /* ie6 double margin */
	float: left;
	width: 145px;
	margin-right: 15px;
	margin-bottom: 30px;
	text-align: center;
}
#docs .section_thumb .item a {
	display: block;
}

/* .section_banner
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_banner {
	clear: both;
	margin-bottom: 30px;
}
#docs .section_banner .item {
	display: inline; /* ie6 double margin */
	float: left;
	margin-right: 10px;
	margin-bottom: 30px;
}
#docs .section_banner .item.item_last {
	margin-right: 0;
}

/* .section_util
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_util {
	clear: both;	
	margin-bottom: 30px;
	background: transparent url(bg_obi.png) repeat scroll left top;
}
#docs .section_util .util_left {
	float: left;
	width: 50%;
	font-size: 12px;
	padding: 1px 10px;
}
#docs .section_util .util_right {
	float: right;
	width: 45%;
	text-align: right;
}

/* .section_1to4
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_1to4 {
	clear: both;
}
#docs .section_1to4 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_1to4 .item_even {
	width: 18%;
	margin-right: 4%;
}
#docs .section_1to4 .item_odd {
	width: 78%;
}

/* .section_1to3
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_1to3 {
	clear: both;
}
#docs .section_1to3 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_1to3 .item_even {
	width: 23%;
	margin-right: 4%;
}
#docs .section_1to3 .item_odd {
	width: 73%;
}

/* .section_1to2
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_1to2 {
	clear: both;
}
#docs .section_1to2 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_1to2 .item_even {
	width: 32%;
	margin-right: 4%;
}
#docs .section_1to2 .item_odd {
	width: 64%;
}

/* .section_2to3
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_2to3 {
	clear: both;
}
#docs .section_2to3 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_2to3 .item_even {
	width: 38%;
	margin-right: 4%;
}
#docs .section_2to3 .item_odd {
	width: 58%;
}

/* .section_3to2
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_3to2 {
	clear: both;
}
#docs .section_3to2 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_3to2 .item_even {
	width: 58%;
	margin-right: 4%;
}
#docs .section_3to2 .item_odd {
	width: 38%;
}

/* .section_2to1
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_2to1 {
	clear: both;
}
#docs .section_2to1 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_2to1 .item_even {
	width: 64%;
	margin-right: 4%;
}
#docs .section_2to1 .item_odd {
	width: 32%;
}

/* .section_3to1
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_3to1 {
	clear: both;
}
#docs .section_3to1 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_3to1 .item_even {
	width: 73%;
	margin-right: 4%;
}
#docs .section_3to1 .item_odd {
	width: 23%;
}

/* .section_4to1
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .section_4to1 {
	clear: both;
}
#docs .section_4to1 .item {
	float: left;
	margin-bottom: 30px;
}
#docs .section_4to1 .item_even {
	width: 78%;
	margin-right: 4%;
}
#docs .section_4to1 .item_odd {
	width: 18%;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   Table
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* table01
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .table01 { /* parts */
	clear: both;
	margin-bottom: 30px;
}
#docs .table01 table {
	border-top: solid 1px #b1b1b1;
	border-left: solid 1px #b1b1b1;
}
#docs .table01 td,
#docs .table01 th {
	padding: 7px 12px;
	border-right: solid 1px #b1b1b1;
	border-bottom: solid 1px #b1b1b1;
	line-height: 1.5;
}
#docs .table01 th {
	background: transparent url(transparent_black10.png) repeat scroll left top;
}

/* table02
   table01 との違いは cell center
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .table02 { /* parts */
	clear: both;
	margin-bottom: 30px;
}
#docs .table02 table {
	border-top: solid 1px #b1b1b1;
	border-left: solid 1px #b1b1b1;
}
#docs .table02 td,
#docs .table02 th {
	padding: 7px 12px;
	border-right: solid 1px #b1b1b1;
	border-bottom: solid 1px #b1b1b1;
	line-height: 1.5;
	text-align: center;
}
#docs .table02 th {
	background: transparent url(transparent_black10.png) repeat scroll left top;
}

/* .table_portlate
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .table_portlate {
	width: 100%;
	margin-bottom: 30px;
}
#docs .table_portlate table {
	border-collapse: separate;
	border-spacing: 0;
	table-layout:fixed;
	empty-cells: show;
	font-size: 77%;
	width: 100%;
	border-right: solid 1px #c9b79e;
	border-top: solid 1px #c9b79e;
	border-bottom: solid 1px #c9b79e;
}
#docs .table_portlate th {
	width: 40%;
	text-align: center;
	padding: 2px 0 1px;
	white-space: nowrap;
	border-left: solid 1px #c9b79e;
}
#docs .table_portlate td {
	padding: 5px 0 4px 10px;
	line-height: 1.3;
	border-left: solid 1px #c9b79e;
	text-align: left;
}

/* .table_form
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .table_form {
}

/* .control お問合せなど */
#docs .table_form .control p {
	display: inline;
	padding: 0 20px;
}
#docs .table_form .control {
	margin-top: 15px;
	padding: 15px;
	background: transparent url(transparent_black10.png) repeat scroll left top;
	text-align: center;
}

#docs .table_form input.style_button {
	padding: 5px 20px;
}


/* :last-child
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs div.notes > :last-child,
#docs div.item > :last-child,
#docs div.item_inner > :last-child,
#docs div.item_inner_frame > :last-child,
#docs .section_thumb .item a > :last-child,

#docs section > .item:last-child,

#docs td > :last-child,
#docs th > :last-child,

#docs div.attention02 > :last-child,
#docs div.attention01 > :last-child,
#docs div.attention > :last-child,
#docs div.information02 > :last-child,
#docs div.information01 > :last-child,
#docs div.information > :last-child,
#docs div.appeal02 > :last-child,
#docs div.appeal01 > :last-child,
#docs div.appeal > :last-child,
#docs div.message02 > :last-child,
#docs div.message01 > :last-child,
#docs div.message > :last-child {
	margin-bottom: 0;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
768px 以下 for tablet
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 768px) {

	#docs .section_tri .item {
		width: 48%;
		margin-right: 4%;
	}
	#docs .section_tri .item.cycle03 {
		margin-right: 4%;
	}
	#docs .section_tri .item.item_odd {
		margin-right: 0;
	}

	#docs .section_normal .item,
	#docs .section_2to1 .item_even,
	#docs .section_2to1 .item_odd {
		width: 100%;
		margin-right: 0;
	}

	#docs .section_3to1 .item_even {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	#docs .section_3to1 .item_odd {
		float: none;
		width: 100%;
	}

	#docs .twitter {
		width: 90%;
	}

	#docs .section_1to4 .item_even img,
	#docs .section_1to3 .item_even img,
	#docs .section_1to2 .item_even img,
	#docs .section_2to3 .item_even img,
	#docs .section_3to2 .item_odd img,
	#docs .section_2to1 .item_odd img,
	#docs .section_3to1 .item_odd img,
	#docs .section_4to1 .item_odd img,
	#docs .section_thumb .item img,
	#docs .section_6_equal_parts .item img,
	#docs .section_5_equal_parts .item img,
	#docs .section_quart .item img,
	#docs .section_tri .item img,
	#docs .section_half .item img,
	#docs .section_normal .item img {
		width: 100%;
	}

} /* 0 - 768 */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
360px以下 for スマートフォン
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 360px) {

	#docs .section_half .item {
		width: 100%;
		margin-right: 0;
	}
	#docs .section_half .item.cycle03,
	#docs .section_half .item.item_odd {
		margin-right: 0;
	}

	#docs .section_tri .item {
		width: 100%;
		margin-right: 0;
	}
	#docs .section_tri .item.cycle03,
	#docs .section_tri .item.item_odd {
		margin-right: 0;
	}
	#docs .button_a {
		margin: 10px 0;
		display: block;
	}

} /* 0 - 360 */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
361px 以上 768px 以下 for tablet
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (min-width: 361px) and (max-width: 768px) {

} /* 361 - 768 */
