@charset "utf-8";


/* 塾 */
.bg_jaune_jonquille {
	background: transparent url(bg_jaune_jonquille.jpg) repeat scroll left top;
}


/* 母塾 */
.bg_usubenifujiiro {
	background: transparent url(bg_usubenifujiiro.jpg) repeat scroll left top;
}


/* 育つ家 */
.bg_lightblue {
	background: transparent url(bg_lightblue.jpg) repeat scroll left top;
}


/* 会社案内 */
.bg_light_ultramarine_blue {
	background: transparent url(bg_light_ultramarine_blue.jpg) repeat scroll left top;
}

.bg_white {
	background: #fff;
}



/* info_table_juku */
.info_table_juku {
	width: 99%;
	border: solid 2px #00adb6;
	background: #fffed7;
	margin-bottom: 15px;
	font-size: 85%;
}
#docs .info_table_juku p {
	margin-bottom: 0;
}
.info_table_juku .it_head {
	float: left;
	width: 18%;
	padding-top: 10px;
	padding-bottom: 20px;
	background: #00adb6;
	text-align: center;
	color: #fff;
}
.info_table_juku .it_data {
	float: left;
	width: 80%;
}
.info_table_juku .data_column {
	margin: 0 5%;
	padding-top: 7px;
	padding-bottom: 7px;
}
.info_table_juku .data_column_half_1 {
	float: left;
	width: 45%;
	margin-left: 5%;
	padding-top: 7px;
	padding-bottom: 7px;
}
.info_table_juku .data_column_half_2 {
	float: left;
	width: 45%;
	margin-right: 5%;
	padding-top: 7px;
}

.info_table_juku .data_schedule {
}
#docs .info_table_juku .data_schedule ul {
	float: left;
	width: 45%;
	margin: 0;
	padding: 0;
	margin-left: 5%;
	padding-top: 7px;
	list-style: none;
}
#docs .info_table_juku .data_schedule ul li {
	margin-bottom: 7px;
}
#docs .info_table_juku .data_schedule ol {
	margin: 0;
	padding: 0;
	margin-left: 5%;
	padding-top: 7px;
	list-style: none;
}
#docs .info_table_juku .data_schedule ol li {
	margin-bottom: 7px;
}

/*  */
#docs .info_table_juku.bg_color_1 {
	border: solid 2px #f09629;
}
#docs .info_table_juku.bg_color_1 .it_head {
	background: #f09629;
}
#docs .info_table_juku.bg_color_2 {
	border: solid 2px #a0ca5a;
}
#docs .info_table_juku.bg_color_2 .it_head {
	background: #a0ca5a;
}
#docs .info_table_juku.bg_color_3 {
	border: solid 2px #59a2f1;
}
#docs .info_table_juku.bg_color_3 .it_head {
	background: #59a2f1;
}
#docs .info_table_juku.bg_color_4 {
	border: solid 2px #b67b3d;
}
#docs .info_table_juku.bg_color_4 .it_head {
	background: #b67b3d;
}
#docs .info_table_juku.bg_color_5 {
	border: solid 2px #ff8195;
}
#docs .info_table_juku.bg_color_5 .it_head {
	background: #ff8195;
}
#docs .info_table_juku.bg_color_6 {
	border: solid 2px #6dc7f0;
}
#docs .info_table_juku.bg_color_6 .it_head {
	background: #6dc7f0;
}

/* info_table_mama */
.info_table_mama {
	width: 99%;
	border: solid 3px #fff;
	border-radius: 50px;
	background: #ff6b83;
	margin-bottom: 15px;
	color: #fff;
	font-size: 85%;
}
#docs .info_table_mama p {
	margin-bottom: 5px;
}
.info_table_mama .it_head {
	float: left;
	width: 18%;
	padding-top: 20px;
	text-align: center;
}
.info_table_mama .it_data {
	float: left;
	width: 80%;
}
.info_table_mama .data_column {
	margin: 0 5%;
	padding-top: 7px;
}
#page #docs .info_table_mama span.weak {
	color: #fff;
}
.info_table_mama .data_column_half_1 {
	float: left;
	width: 45%;
	margin-left: 5%;
	padding-top: 7px;
}
.info_table_mama .data_column_half_2 {
	float: left;
	width: 45%;
	margin-right: 5%;
	padding-top: 7px;
}

.info_table_mama .data_schedule {
}
#docs .info_table_mama .data_schedule ul {
	float: left;
	width: 45%;
	margin: 0;
	padding: 0;
	margin-left: 5%;
	padding-top: 7px;
	list-style: none;
}
#docs .info_table_mama .data_schedule ul li {
	margin-bottom: 7px;
}
#docs .info_table_mama .data_schedule ol {
	margin: 0;
	padding: 0;
	margin-left: 5%;
	padding-top: 7px;
	list-style: none;
}
#docs .info_table_mama .data_schedule ol li {
	margin-bottom: 7px;
}

/* bg_clip_1 */
.bg_clip_1 {
}
#docs .bg_clip_1 .item {
	margin-top: 36px;
	background: #fcf4d2;
}
#docs .bg_clip_1 .item .item_inner {
	padding: 20px;
}
#docs .bg_clip_1 .item .clip_head {
	width: 100%;
	height: 60px;
	margin-top: -36px;
	background: transparent url(bg_clip_1.png) no-repeat scroll center top;
}


/* bg_clip_1 */
.bg_clip_2 {
}
#docs .bg_clip_2 .item {
	margin-top: 36px;
	background: #d7e6f6;
}
#docs .bg_clip_2 .item .item_inner {
	padding: 20px;
}
#docs .bg_clip_2 .item .clip_head {
	width: 100%;
	height: 60px;
	margin-top: -36px;
	background: transparent url(bg_clip_2.png) no-repeat scroll center top;
}

/* contents_img */
/* ITTO */
.contents_img {
}
.contents_img .parts_1 {
	float: left;
	width: 171px;
}
.contents_img .parts_2 {
	float: left;
	width: 349px;
}
.contents_img .parts_3 {
	float: left;
	width: 200px;
}

/* Home */
.contents_img_home {
}
.contents_img_home .item {
	width: 25%;
	float: left;
}
.contents_img_home .item img {
	width: 100%;
}

/* Home 01 */
.contents_img_home01 {
	background: #fff;
}
.contents_img_home01 p {
	font-size: 93%;
	margin: 10px;
}
.contents_img_home01 p.pic {
	float: right;
}
.contents_img_home01 .item {
	width: 100%;
}
.contents_img_home01 .item img {
	width: 100%;
}
.contents_img_home01 .col_left {
	float: left;
	width: 155px;
	text-align: right;
}
.contents_img_home01 .col_right {
	float: left;
	width: 565px;
}

/*  */
.voice .data_schedule {
}

/* .notes_info_info
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .notes_info {
	margin: 0 20px;
	padding-bottom: 30px;
}
#docs .notes_info dl {
	clear: both;
}
#docs .notes_info dl dt {
	display: block;
	clear: both;
	float: left;
	width: 20%;
}
#docs .notes_info dl dd {
	display: block;
	margin-left: 20%;
	text-indent: 0;
}
#docs .notes_info dl dt.last,
#docs .notes_info dl dd.last {
	margin-bottom: 0;
}
#docs .notes_info dl.dt_w02em dt { width: 2em; }
#docs .notes_info dl.dt_w02em dd { margin-left: 2em; }

#docs .notes_info dl.dt_w03em dt { width: 3em; }
#docs .notes_info dl.dt_w03em dd { margin-left: 3em; }

#docs .notes_info dl.dt_w04em dt { width: 4em; }
#docs .notes_info dl.dt_w04em dd { margin-left: 4em; }

#docs .notes_info dl + h1,
#docs .notes_info dl + h2,
#docs .notes_info dl + h3,
#docs .notes_info dl + h4,
#docs .notes_info dl + h5,
#docs .notes_info dl + h6 {
	clear: both;
}


/* .notes_contact
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .notes_contact {
	padding: 0;
}
#docs .notes_contact {
}
#docs .notes_contact table {
	border-top: solid 1px #17ced7;
	border-left: solid 1px #17ced7;
}
#docs .notes_contact td,
#docs .notes_contact th {
	padding: 7px 12px;
	border-right: solid 1px #17ced7;
	border-bottom: solid 1px #17ced7;
	line-height: 1.5;
}
#docs .notes_contact th {
	width: 30%;
	background: #00adb6;
	color: #fff;
}
#docs .notes_contact td {
	background: #fffed7;
}
.wpcf7-submit {
	display: block;
	width: 100px;
	margin: 0 auto;
	padding: 5px 30px;
	font-size: 14px;
}

/*  */
.sodatsu_ie_wrap {
}

.sodatsu_ie_wrap .nav_wrap {
	
}
.sodatsu_ie_wrap .nav_wrap .nav_left {
	float: left;
}
.sodatsu_ie_wrap .nav_wrap .nav_right {
	float: right;
}

#docs .sodatsu_ie_wrap ul.bxslider {
	padding-left: 0;
}
#docs .sodatsu_ie_wrap ul.bxslider li {
	padding: 20px;
}
#docs .sodatsu_ie_wrap ul.bxslider li.first {
	padding: 0;
}
.sodatsu_ie_wrap ul.bxslider li .ie_text {
	margin-left: 120px;
	width: 470px;
	line-height: 2;
}

/* head_b */
#docs .head_b {
	background: #ffe583;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
768px 以下 for tablet
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 768px) {

	.contents_img .parts_1,
	.contents_img .parts_2,
	.contents_img .parts_3 {
		float: none;
	}	

.sodatsu_ie_wrap ul.bxslider li .ie_text {
	margin: 0 5%;
	width: auto;
	line-height: 2;
}

	#docs .notes_contact img.ajax-loader {
		width: auto;
	}

} /* 0 - 768 */


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
600px 以下 for tablet
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 600px) {

	/* .info_table_juku */
	.info_table_juku .it_head {
		padding-top: 3px;
		padding-bottom: 3px;
		width: 100%;
	}
	.info_table_juku .it_data {
		width: 100%;
	}
	.info_table_juku .data_column_half_1,
	.info_table_juku .data_column_half_2 {
		width: 90%;
	}
	.info_table_juku .data_column_half_2 {
		margin-left: 5%;
		margin-right: 0;
	}
	#docs .info_table_juku .data_schedule ul {
		width: 90%;
	}

	/* Home */
.contents_img_home .item {
	width: auto;
}
.contents_img_home .item img {
	width: 100%;
}

.contents_img_home01 .col_left {
	float: none;
	width: auto;
	text-align: center;	
}
.contents_img_home01 .col_right {
	float: none;
	width: auto;
}
.contents_img_home01 .col_right div {
	text-align: center;
}
.contents_img_home01 .col_right div img {
	width: 100%;
}
.contents_img_home01 p.pic {
	float: none;
	text-align: center;
}

	/* .info_table_mama */
	.info_table_mama {
		border-radius: 20px;
	}
	.info_table_mama .it_head {
		padding-top: 3px;
		padding-bottom: 3px;
		width: 100%;
	}
	.info_table_mama .it_data {
		width: 100%;
	}
	.info_table_mama .data_column_half_1,
	.info_table_mama .data_column_half_2 {
		width: 90%;
	}
	.info_table_mama .data_column_half_2 {
		margin-left: 5%;
		margin-right: 0;
	}
	#docs .info_table_mama .data_schedule ul {
		width: 90%;
	}

	#docs .section_half .item {
		width: 100%;
		margin-right: 0;
	}
	#docs .section_half .item.cycle03,
	#docs .section_half .item.item_odd {
		margin-right: 0;
	}

	#docs .section_tri .item {
		width: 100%;
		margin-right: 0;
	}
	#docs .section_tri .item.cycle03,
	#docs .section_tri .item.item_odd {
		margin-right: 0;
	}
	#docs .button_a {
		margin: 10px 0;
		display: block;
	}
	
	/*  */
	#docs .notes_info dl dt {
		background: #f3f3f3;
		float: none;
		width: 98%;
		padding: 5px 2%;
	}
	#docs .notes_info dl dd {
		clear: both;
		width: 100%;
		margin-left: 0;
	}

	/*  */
	#docs .notes_contact th {
		display: block;
		width: 96%;
		padding: 1% 2%;
	}
	#docs .notes_contact td {
		display: block;
		width: 96%;
		padding: 2% 2%;
	}
	#docs .notes_contact .input_long  {
		width: 80%;
	}
	
	
} /* 0 - 600 */


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
360px以下 for スマートフォン
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 360px) {
	
	.contents_img .parts_1,
	.contents_img .parts_2,
	.contents_img .parts_3 {
		width: 100%;
		text-align: center;
	}

	#docs .bg_clip_1 .item {
		width: 100%;
	}


} /* 0 - 360 */

