@charset "utf-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Title: 
	Description: 

	Frame
		#page
			#header
			#g_menu
			#main_visual
			#contents
			#go_pagetop
			#footer
	Column Type
		body.column_right_navi
		body.column_left_navi
		body.column_one
	Other
		#navi
		.side_menu
		.breadcrumb_list
	@media only screen and (max-width: 768px)
	@media only screen and (max-width: 360px)
	@media only screen and (min-width: 361px) and (max-width: 768px)

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
	background: #f7f7f7 url(bg.jpg) repeat scroll left top; 
}
a:link		{ color: #00569A; text-decoration: underline; }
a:visited	{ color: #002A4D; text-decoration: underline; }
a:hover		{ color: #bf0c0c; text-decoration: underline; }
a:active	{ color: #bf0c0c; text-decoration: underline; }

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   Frame
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* #page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#page {
	font-size: 116%;
}

/* Page width */
#breadcrumb .inner,
#footer .inner,
#contents {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
#g_menu .inner,
#header .inner {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
#main_visual .inner {
	width: 960px;
	margin: 0 auto 40px;
}

/* #header
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#header {
	height: 65px;
}
#header a:link		{ text-decoration: none; }
#header a:visited	{ text-decoration: none; }
#header a:hover		{ text-decoration: none; }
#header a:active	{ text-decoration: none; }

#header .logo {
	position: absolute;
	top: 10px;
	left: 3px;
}
#header .logo a {
	display: block;
}
#header #mobile_header {
    display: none;
}

/* .header_parts */
#header .header_parts {
	position: absolute;
	top: 10px;
	right: 0;
}
#header .header_parts a {
	display: block;
	width: 230px;
	height: 35px;
	background: transparent url(logo02.png) no-repeat scroll left top;
	text-indent: -9999em;
}

/* .header_parts01 */
#header .header_parts01 {
	position: absolute;
	top: 58px;
	left: 173px;
}
#header .header_parts01 li {
	float: left;
	height: 24px;
	margin-right: 20px;
}
#header .header_parts01 li a {
	display: block;
	height: 24px;
	text-indent: -9999em;
}
#header .header_parts01 li.util_btn a {
	width: 49px;
	background: transparent url(sprite_header.png) no-repeat scroll 0 0;
}
#header .header_parts01 li.util_btn a:hover {
	background-position: 0 -100px;
}
#header .header_parts01 li.util_btn01 a {
	width: 88px;
	background: transparent url(sprite_header.png) no-repeat scroll -200px 0;
}
#header .header_parts01 li.util_btn01 a:hover {
	background-position: -200px -100px;
}
#header .header_parts01 li.util_btn02 a {
	width: 89px;
	background: transparent url(sprite_header.png) no-repeat scroll -400px 0;
}
#header .header_parts01 li.util_btn02 a:hover {
	background-position: -400px -100px;
}
#header .header_parts01 li.util_btn03 a {
	width: 61px;
	background: transparent url(sprite_header.png) no-repeat scroll -600px 0;
}
#header .header_parts01 li.util_btn03 a:hover {
	background-position: -600px -100px;
}

/* .header_parts02 */
#header .header_parts02 {
	position: absolute;
	top: 58px;
	left: 552px;
	width: 153px;
	height: 24px;
/*
	background: transparent url(header_moji.png) no-repeat scroll left top;
*/
}
#header .header_parts02 li {
	float: left;
	height: 24px;
	margin-right: 5px;
}
#header .header_parts02 li a {
	display: block;
	height: 24px;
	text-indent: -9999em;
}
#header .header_parts02 li.util_label {
	width: 62px;
	background: transparent url(sprite_font_size.png) no-repeat scroll 0 0;
	text-indent: -9999em;
}
#header .header_parts02 li.util_btn a {
	width: 22px;
	background: transparent url(sprite_font_size.png) no-repeat scroll -100px 0;
}
#header .header_parts02 li.util_btn a:hover {
	background-position: -100px -100px;
}
#header .header_parts02 li.util_btn01 a {
	width: 22px;
	background: transparent url(sprite_font_size.png) no-repeat scroll -200px 0;
}
#header .header_parts02 li.util_btn01 a:hover {
	background-position: -200px -100px;
}
#header .header_parts02 li.util_btn02 a {
	width: 22px;
	background: transparent url(sprite_font_size.png) no-repeat scroll -300px 0;
}
#header .header_parts02 li.util_btn02 a:hover {
	background-position: -300px -100px;
}



/* .header_parts03 */
#header .header_parts03 {
	position: absolute;
	top: 58px;
	right: 27px;
	width: 210px;
	height: 24px;
}
#header .header_parts03 .field_keyword {
	width: 70%;
}
#header .header_parts03 .btn_search {
	width: 38px;
	height: 20px;
	background: transparent url(header_btn_search.png) no-repeat scroll left top;
}


/* #g_menu
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#g_menu {
	height: 70px;
	margin-bottom: 20px;
}
#g_menu li.step01 {
	position: relative;
	float  : left;
	display: block;
	height: inherit;
	z-index: 1000;
}
#g_menu li.step01 a {
	display: block;
	height: 70px;
	text-indent: -9999em;
	background: transparent url(sprite_g_menu.png) no-repeat scroll 999em 999em;
}
#g_menu .step02_wrap {
	display: none;
	position: absolute;
	left: 0;
	top: 55px;
	width: 320px;
	z-index: 1100;
}
#g_menu li.step01 li.step02 a {
	width: 310px;
	padding-left: 10px;
	text-align: left;
	background: #e7e7e7;
	border-bottom: solid 1px #ccc;
}
#g_menu li.step01 li.step02 a:hover {
	background: #ddd;
}
#g_menu .step01_2 .step02_wrap {
	left: auto;
	right: 0;
}

#g_menu li.step01_0 a {
	width: 125px;
	background-position: 0 0;
}
#g_menu li.step01_0 a:hover,
#g_menu li.step01_0 a.current_page {
	background-position: 0 -70px;
}
#g_menu li.step01_1 a {
	width: 141px;
	background-position: -125px 0;
}
#g_menu li.step01_1 a:hover,
#g_menu li.step01_1 a.current_page {
	background-position: -125px -70px;
}
#g_menu li.step01_2 a {
	width: 141px;
	background-position: -266px 0;
}
#g_menu li.step01_2 a:hover,
#g_menu li.step01_2 a.current_page {
	background-position: -266px -70px;
}
#g_menu li.step01_3 a {
	width: 141px;
	background-position: -407px 0;
}
#g_menu li.step01_3 a:hover,
#g_menu li.step01_3 a.current_page {
	background-position: -407px -70px;
}
#g_menu li.step01_4 a {
	width: 141px;
	background-position: -548px 0;
}
#g_menu li.step01_4 a:hover,
#g_menu li.step01_4 a.current_page {
	background-position: -548px -70px;
}
#g_menu li.step01_5 a {
	width: 141px;
	background-position: -689px 0;
}
#g_menu li.step01_5 a:hover,
#g_menu li.step01_5 a.current_page {
	background-position: -689px -70px;
}
#g_menu li.step01_6 a {
	width: 130px;
	background-position: -830px 0;
}
#g_menu li.step01_6 a:hover,
#g_menu li.step01_6 a.current_page {
	background-position: -830px -70px;
}

#g_menu .g_menu_mobile {
	display: none;
}


/* #main_visual
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#main_visual img {
	width: 100%;
}

/* #contents
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#contents {
	margin-bottom: 20px;
}

/* #go_pagetop
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#go_pagetop {
	width: 48px;
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 9999;
}
#go_pagetop a {
	background: transparent url(btn_pagetop.png) no-repeat scroll left top;
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -999em;
}
#go_pagetop a:hover {
	background-position: left bottom;
}

/* #footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#footer {
	color: #222;
}
#footer a:link		{ color: #222; text-decoration: none; }
#footer a:visited	{ color: #222; text-decoration: none; }
#footer a:hover		{ color: #666; text-decoration: underline; }
#footer a:active	{ color: #666; text-decoration: underline; }

#footer .inner {
	padding-top: 20px;
	padding-bottom: 30px;
}
#footer .footer_util {
	display: block;
	margin-bottom: 10px;
}
#footer .footer_util ul {
	display: inline;
	border-left: solid 1px #666;
}
#footer .footer_util li {
	display: inline-block;
	border-right: solid 1px #666;
}
#footer .footer_util li a {
	padding: 3px 30px;
}
#footer #copyright {
	display: inline;
	margin-left: 30px;
	color: #666;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   Column Type
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

body.column_right_navi #main_content {
	float: left;
	width: 740px;
	min-height: 500px;
	margin-right: 10px;
}
body.column_right_navi #main_content .inner {
	padding: 10px;
}
body.column_right_navi #sub_content {
	float: right;
	width: 210px;
}

body.column_left_navi #main_content {
	float: right;
	width: 720px;
	min-height: 500px;
	margin-right: 30px;
}
body.column_left_navi #sub_content {
	float: left;
	width: 200px;
	margin-left: 10px;
}

body.column_one #main_content {
	width: 960px;
	margin: 0 auto;
}

/* #navi
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#navi .picture img {
	width: 100%;
}

/* .table_portlate
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#navi .table_portlate {
	width: 100%;
	margin-bottom: 20px;
}
#navi .table_portlate table {
	border-collapse: separate;
	border-spacing: 0;
	table-layout:fixed;
	empty-cells: show;
	font-size: 77%;
	width: 100%;
	border-right: solid 1px #c9b79e;
	border-top: solid 1px #c9b79e;
	border-bottom: solid 1px #c9b79e;
}
#navi .table_portlate th {
	width: 40%;
	text-align: center;
	padding: 2px 0 1px;
	white-space: nowrap;
	border-left: solid 1px #c9b79e;
}
#navi .table_portlate td {
	padding: 5px 0 4px 10px;
	line-height: 1.3;
	border-left: solid 1px #c9b79e;
	text-align: left;
}

/* .side_menu
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#navi .side_menu {
	font-size: 85%;
}
#navi .side_menu a:link		{ color: #00569A; text-decoration: none; }
#navi .side_menu a:visited	{ color: #002A4D; text-decoration: none; }
#navi .side_menu a:hover,
#navi .side_menu a:active {
	color: #bf0c0c;
	text-decoration: none;
	background: transparent url(transparent_black10.png) repeat scroll left top; /* Background */
}
#navi .side_menu li a {
	display: block;
	border-bottom: solid 1px #aaa;
}
#navi .side_menu li a .a_inner {
	display: block;
	padding: 10px 5px 10px 17px;
	background: transparent url(icon_arrow01.png) no-repeat scroll 5px 18px; /* Background */
}
#navi .side_menu ul.step02_wrap {
	padding-left: 20px;
}
#navi .side_menu .step01.current_page > a {
	background: transparent url(transparent_black10.png) repeat scroll left top; /* Background */
}
#navi .side_menu .step01.current_page > a > .a_inner {
	background: transparent url(icon_arrow03.png) no-repeat scroll 5px 18px; /* Background */
}
#navi .side_menu .step02.current_page > a {
	background: transparent url(transparent_black10.png) repeat scroll left top; /* Background */
}

/* .breadcrumb_list
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.breadcrumb_list { /* parts */
	float: left;
	width: 70%;
	clear: both;
	margin: 0 auto 40px;
	font-size: 93%;
}
.breadcrumb_list ul {
}
.breadcrumb_list ul li {
	display: inline;
	padding-right: 10px;
}

/* breadcrumb_util
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.breadcrumb_util {
	float: right;
	width: 200px;
}
.breadcrumb_util li.util_btn {
	float: left;
	width: 84px;
	height: 42px;
}
.breadcrumb_util li.util_btn01 {
	float: right;
	width: 84px;
	height: 42px;
}
.breadcrumb_util li.util_btn a {
	display: block;
	width: 84px;
	height: 42px;
	background: transparent url(btn_sample.png) no-repeat scroll left top;
	text-indent: -9999em;
}
.breadcrumb_util li.util_btn01 a {
	display: block;
	width: 84px;
	height: 42px;
	background: transparent url(btn_sample01.png) no-repeat scroll left top;
	text-indent: -9999em;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
768px 以下 for tablet
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 768px) {
	#g_menu .inner,
	#main_visual .inner,
	#breadcrumb .inner,
	#footer .inner,
	#contents,
	#g_menu .inner,
	#header .inner {
		width: auto;
	}
	#header .inner,
	#contents {
		padding: 10px;
	}

	#header {
		height: auto;
	}
	#header .logo {
		position: relative;
		float: left;
		top: auto;
		right: auto;
	}
	#header #mobile_header {
		display: block;
	}
	#header #btn_side_menu {
		float: right;
		display: block;
		width: 42px;
		height: 42px;
		margin-top: 7px;
		margin-right: 10px;
		background: transparent url(btn_side_menu.png) no-repeat scroll left top;
		text-indent: -9999em;
	}
	#header .header_parts03,
	#header .header_parts02,
	#header .header_parts01 {
		display: none;
	}
	#header .header_parts {
		position: relative;
		top: auto;
		right: auto;
		clear: both;
	}

	#g_menu {
		display: none;
	}

	#footer {
		padding: 0 10px;
	}

	.breadcrumb_list {
		width: auto;
	}
	.breadcrumb_util {
		display: none;
	}

	body.column_one #main_content,
	body.column_right_navi #main_content {
		float: none;
		width: auto;
		min-height: 500px;
		margin-right: 0;
	}
	body.column_left_navi #sub_content,
	body.column_right_navi #sub_content {
		display: none;
	}

} /* 0 - 768 */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
360px以下 for スマートフォン
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (max-width: 460px) {
	#header .inner,
	#contents {
		padding: 5px;
	}

#header .logo {
	width: 70%;
	margin: 0 auto;
}
#header .logo img {
	width: 100%;
}
#header .header_parts {
	width: 90%;
	margin: 0 auto;
}
#header .header_parts img {
	width: 100%;
}

	#g_menu li.step01 {
		width: 49.3%;
		border-right: solid 1px #ccc;
	}

} /* 0 - 360 */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
361px 以上 768px 以下 for tablet
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and (min-width: 361px) and (max-width: 768px) {

} /* 361 - 768 */
