@charset "utf-8";

/* ie6, 7 */
html, body {
	/zoom:0.7;
}
/* ie8 */
html, body {
	zoom:0.7\9;
}
/* ie9 */
html:not(:target) {
	zoom:1\9;
}
body:not(:target) {
	zoom:1\9;
}

#go_pagetop,
#sub_content,
#g_menu,
#header {
	display: none;
}

#main_visual .inner,
#breadcrumb .inner,
#footer .inner,

#contents,
#breadcrumb,
#footer {
	width: 670px;
	margin-left: auto;
	margin-right: auto;
}

#footer .footer_util,
#breadcrumb .breadcrumb_util {
	display: none;
}
#footer .inner {
	padding: 0;
	text-align: center;
	background: #fff;
	color: #000;
}
.output_debug {
	display: none;
}

