@charset "utf-8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Title : 
	Description : 
	Version : 1.0.0 2012/11/26 yabuchi@ircorp.co.jp

	YUI reset
	YUI font
	base
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
YUI 3.5.1 (build 22)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/*
YUI 3.5.1 (build 22)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}#yui3-css-stamp.cssfonts{display:none}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
   Base
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#page {
	font-size: 108%;
	line-height: 1.5;
	font-family:
	'Arial',
	'Hiragino Kaku Gothic ProN',
	Meiryo,
	sans-serif;
}

br {
	letter-spacing: 0; /* ie */
}
img {
	vertical-align:bottom
}
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}

/* clearfix */
.clearfix:after {content: " "; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-table;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.clearfix {zoom:1;}

/* clear
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#docs .clear_both {
	clear: both;
}

/* display
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.d_show { display: block; }
.d_hide { display: none; }

/* rollover alpha */
.roll_alpha a:hover img		{ filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }
a.roll_alpha:hover img		{ filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }
.roll_alpha75 a:hover img	{ filter: alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }
a.roll_alpha75:hover img	{ filter: alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }

/* preset margin
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.mt00 { margin-top:  0   !important;}
.mt05 { margin-top:  5px !important;}
.mt10 { margin-top: 10px !important;}
.mt12 { margin-top: 12px !important;}
.mt15 { margin-top: 15px !important;}
.mt20 { margin-top: 20px !important;}
.mt25 { margin-top: 25px !important;}
.mt30 { margin-top: 30px !important;}
.mt35 { margin-top: 35px !important;}
.mt40 { margin-top: 40px !important;}
.mt45 { margin-top: 45px !important;}
.mt50 { margin-top: 50px !important;}

.mr00 { margin-right:  0   !important;}
.mr05 { margin-right:  5px !important;}
.mr10 { margin-right: 10px !important;}
.mr12 { margin-right: 12px !important;}
.mr15 { margin-right: 15px !important;}
.mr20 { margin-right: 20px !important;}
.mr25 { margin-right: 25px !important;}
.mr30 { margin-right: 30px !important;}
.mr35 { margin-right: 35px !important;}
.mr40 { margin-right: 40px !important;}
.mr45 { margin-right: 45px !important;}
.mr50 { margin-right: 50px !important;}

.mb00 { margin-bottom:  0   !important;}
.mb05 { margin-bottom:  5px !important;}
.mb10 { margin-bottom: 10px !important;}
.mb12 { margin-bottom: 12px !important;}
.mb15 { margin-bottom: 15px !important;}
.mb20 { margin-bottom: 20px !important;}
.mb25 { margin-bottom: 25px !important;}
.mb30 { margin-bottom: 30px !important;}
.mb35 { margin-bottom: 35px !important;}
.mb40 { margin-bottom: 40px !important;}
.mb45 { margin-bottom: 45px !important;}
.mb50 { margin-bottom: 50px !important;}

.ml00 { margin-left:  0   !important;}
.ml05 { margin-left:  5px !important;}
.ml10 { margin-left: 10px !important;}
.ml12 { margin-left: 12px !important;}
.ml15 { margin-left: 15px !important;}
.ml20 { margin-left: 20px !important;}
.ml25 { margin-left: 25px !important;}
.ml30 { margin-left: 30px !important;}
.ml30 { margin-left: 35px !important;}
.ml40 { margin-left: 40px !important;}
.ml45 { margin-left: 45px !important;}
.ml50 { margin-left: 50px !important;}

/* preset padding
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.pt00 { padding-top:  0   !important;}
.pt05 { padding-top:  5px !important;}
.pt10 { padding-top: 10px !important;}
.pt12 { padding-top: 12px !important;}
.pt15 { padding-top: 15px !important;}
.pt20 { padding-top: 20px !important;}
.pt25 { padding-top: 25px !important;}
.pt30 { padding-top: 30px !important;}
.pt35 { padding-top: 35px !important;}
.pt40 { padding-top: 40px !important;}
.pt45 { padding-top: 45px !important;}
.pt50 { padding-top: 50px !important;}

.pr00 { padding-right:  0   !important;}
.pr05 { padding-right:  5px !important;}
.pr10 { padding-right: 10px !important;}
.pr12 { padding-right: 12px !important;}
.pr15 { padding-right: 15px !important;}
.pr20 { padding-right: 20px !important;}
.pr25 { padding-right: 25px !important;}
.pr30 { padding-right: 30px !important;}
.pr35 { padding-right: 35px !important;}
.pr40 { padding-right: 40px !important;}
.pr45 { padding-right: 45px !important;}
.pr50 { padding-right: 50px !important;}

.pb00 { padding-bottom:  0   !important;}
.pb05 { padding-bottom:  5px !important;}
.pb10 { padding-bottom: 10px !important;}
.pb12 { padding-bottom: 12px !important;}
.pb15 { padding-bottom: 15px !important;}
.pb20 { padding-bottom: 20px !important;}
.pb25 { padding-bottom: 25px !important;}
.pb30 { padding-bottom: 30px !important;}
.pb35 { padding-bottom: 35px !important;}
.pb40 { padding-bottom: 40px !important;}
.pb45 { padding-bottom: 45px !important;}
.pb50 { padding-bottom: 50px !important;}

.pl00 { padding-left:  0   !important;}
.pl05 { padding-left:  5px !important;}
.pl10 { padding-left: 10px !important;}
.pl12 { padding-left: 12px !important;}
.pl15 { padding-left: 15px !important;}
.pl20 { padding-left: 20px !important;}
.pl25 { padding-left: 25px !important;}
.pl30 { padding-left: 30px !important;}
.pl30 { padding-left: 35px !important;}
.pl40 { padding-left: 40px !important;}
.pl45 { padding-left: 45px !important;}
.pl50 { padding-left: 50px !important;}

/* 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.ta_center {
	text-align: center;
}
.ta_left {
	text-align: left;
}
.ta_right {
	text-align: right;
}

.fl_left {
	display: inline;
	float: left;
}
.fl_right {
	display: inline;
	float: right;
}

/* width
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* preset */
.w03per { width:  3% !important;}
.w05per { width:  5% !important;}
.w10per { width: 10% !important;}
.w13per { width: 13% !important;}
.w15per { width: 15% !important;}
.w20per { width: 20% !important;}
.w25per { width: 25% !important;}
.w30per { width: 30% !important;}
.w35per { width: 35% !important;}
.w40per { width: 40% !important;}
.w45per { width: 45% !important;}
.w50per { width: 50% !important;}
.w55per { width: 55% !important;}
.w60per { width: 60% !important;}
.w65per { width: 65% !important;}
.w70per { width: 70% !important;}
.w75per { width: 75% !important;}
.w80per { width: 80% !important;}
.w85per { width: 85% !important;}
.w90per { width: 90% !important;}
.w95per { width: 95% !important;}
.w100per { width: 100% !important;}

/* em */
.w01em { width:  1em !important;}
.w02em { width:  2em !important;}
.w03em { width:  3em !important;}
.w04em { width:  4em !important;}
.w05em { width:  5em !important;}
.w06em { width:  6em !important;}
.w07em { width:  7em !important;}
.w08em { width:  8em !important;}
.w09em { width:  9em !important;}
.w10em { width: 10em !important;}
